  
@font-face {
    font-family: "Bitopi Bijoy";
    src: url("Bitopi_Bijoy.ttf")
}

@font-face {
    font-family: "Bitopi Uni";
    src: url("Bitopi_Uni.ttf")
}

@font-face {
  font-family: "Sakib font";
  src: url("sakib75.ttf")
}
